@page "/fetchdata"
@inject HttpClient Http

@if (_items == null)
{
    <div>loading</div>
}
else
{
    @foreach (var item in _items)
    {
        <div class="absolute px-2 py-1 bg-zinc-200 rounded-md ring-1 ring-gray-900/10" style="
            left: @(item.X)px;
            top: @(item.Y)px;
            width: @(item.Width)px;
            height: @(item.Height)px">
            @item.Contents
        </div>
    }
}

@code {
    private List<SimpleElement>? _items;
    protected override async Task OnInitializedAsync()
    {
        _items = Enumerable.Range(1, 10).Select(i => new SimpleElement
        {
            X = i * 20,
            Y = i * 30,
        }).ToList();

        foreach (var i in Enumerable.Range(1, 10))
        {

        }
    }

    record SimpleElement
    {
        public double X { get; set; } = 0;
        public double Y { get; set; } = 0;
        public double Width { get; set; } = 140;
        public double Height { get; set; } = 80;

        public string Contents = "henlo :3";
    }
}
